@use 'header';
@use 'tarjetas-gral';
@use 'footer';


// general //


* {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100%;
    overflow-x: clip !important;
}



@media screen and (max-width: 915px) and (orientation: landscape) {
    * {
        z-index: 10;
        background-color: black !important;
     }
    header, main, footer{
      display: none;
    }
  
    .twin1 {
      font-weight: 100;
      font-size: 20px;
      text-align: center;
      color: white;
      padding-top: 20px;
    }
    
    .twin1::after {
      Content: "Voltee su móvil en modo vertical para ver el contenido.";
    }
  }




// boton flotante arrow up//

.contenedor-boton {
    height: 10%;
    position: sticky;
    float: right;
    padding: 10px;
    top: 90%;

    
    img {
        width: 80px;
    }
}


// h4 subtitulo //

.subtitulo__carrusel, .subtitulo__ubicacion {
    border-top: 5px solid red;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 !important;
    color: red;
    font-family: 'Agdasima', sans-serif;
    font-size: 30px;
}



//carrusel//
#carouselExampleCaptions {
    display: flex;
    align-items: center;
    height: 80% !important;

    h5, p {
        color: black;
        background-color: white;
    }
}



// acordion //

.accordion {
    margin: 10% 0 !important;

    .accordion-item {
        border: 2px solid red;
        margin: 5px 0 !important;

        h2 {
            button {
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}



// maps //

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .contenedor-boton {
        padding-right: 10px !important;

        img {
            width: 50px;
        }
    }

    .carousel {
        height: 50%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .contenedor-boton {
        padding-right: 5px !important;

        img {
            width: 45px !important;
        }
    }

    
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
    .contenedor-boton {
        img {
            width: 35px !important;
        }
    }

    .carousel {
        height: 50%;
    }
}

@media only screen and (min-width:320px) and (max-width: 480px) {
    .contenedor-boton {
        padding-right: 2px !important;
        
    }

    img {
        width: 25px !important;
        
    }

    #carouselExampleCaptions {
        height: 30% !important;
    }

    .subtitulo__carrusel{
        font-size: 20px;
    }
}





// imagenes seccion productos destacados //

.prod1 {
    background-image: url(/img/leche-entera.webp);
}

.prod2 {
    background-image: url(/img/roast-beef.jpg);
}

.prod3 {
    background-image: url(/img/tomate-redondo.jpg);
}

.prod4 {
    background-image: url(/img/espadol.jpg);
}

.prod5 {
    background-image: url(/img/lavandina.webp);
}

.prod6 {
    background-image: url(/img/pan-flauta.webp);
}


// imagenes almacen //


.prod2b {
    background-image: url(/img/lata-atun.webp);
}

.prod3b {
    background-image: url(/img/oreo.jpg);
}

.prod4b {
    background-image: url(/img/crema-leche.jpg);
}

.prod5b {
    background-image: url(/img/azucar.webp);
}

.prod6b {
    background-image: url(/img/aceite-natura.jpg);
}



// imagenes carniceria //

#carniceria {
    
    display: flex;
    flex-wrap: wrap;
    
}

.prod2c {
    background-image: url(/img/asado.webp);
}

.prod3c {
    background-image: url(/img/bife-angosto.jpg);
}

.prod4c {
    background-image: url(/img/vacio.jpg);
}

.prod5c {
    background-image: url(/img/chorizo.webp);
}

.prod6c {
    background-image: url(/img/morcilla.jpg);
}


.prod7c {
    background-image: url(/img/chinchulin.jpg);
}

.prod8c {
    background-image: url(/img/provoleta.png);
}



// imagenes verduleria //

#verduleria {
    display: flex;
    flex-wrap: wrap;
}

.prod2d {
    background-image: url(/img/criolla.webp);
}

.prod3d {
    background-image: url(/img/zanahoria.jpg);
}

.prod4d {
    background-image: url(/img/zapallitos.jpg);
}

.prod5d {
    background-image: url(/img/morron-rojo.png);
}

.prod6d {
    background-image: url(/img/papa-negra.webp);
}



//imagenes panaderia //

#panaderia {
    display: flex;
    flex-wrap: wrap;
}

.prod2f {
    background-image: url(/img/facturas.jpg);
}

.prod3f {
    background-image: url(/img/mini-torta.jpg);
}


.prod4f {
    background-image: url(/img/masitas.jpg);
}

.prod5f {
    background-image: url(/img/sanguchito.miga.jpg);
}

.prod6f {
    background-image: url(/img/pepas.webp);
}




// imagenes limpieza //

#limpieza {
    display: flex;
    flex-wrap: wrap;
}


.prod2e {
    background-image: url(/img/jabon-liquido.webp);
}

.prod3e {
    background-image: url(/img/desodorante-depiso.webp);
}


.prod4e {
    background-image: url(/img/cera-piso.webp);
}

.prod5e {
    background-image:url(/img/suavizante-ropa.webp.webp);
}


.prod6e {
    background-image: url(/img/lysoform.png);
}

.prod7e {
    background-image: url(/img/higienico.webp);
}

.prod8e {
    background-image: url(/img/trapo-piso.jpg);
}



// ajuste letra desodorante de piso //

#desod-piso {
    font-size: 15px !important;
    color: white !important;
}

@media only screen and (max-width: 480px) {
    #desod-piso {
        font-size: 12px !important;
    }
}


@media only screen and (min-height: 666px) and (max-height: 720px)  {
    #desod-piso {
        font-size: 9px !important;
    }
}

@media only screen and (min-height:720px) and (max-height: 850px) {
    #desod-piso {
        font-size: 12px !important;
    }
}

@media only screen and (min-height:850px) and (max-height: 915px) {
    #desod-piso {
        font-size:  10px !important;
    }
}