.secciones   {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    height: 60% !important;
    background-color: bisque;
    border: 2px solid black;
    margin-top: 4% !important;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    justify-content: space-evenly !important;
    

    span {
        color: red !important;
        text-transform: uppercase;
        
    }

    .div-seccion-name {
        align-items: center;
    }

    .div-der {
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-evenly;


        
        .card-lateral {   
            display: flex;
            flex-direction: column; 
            width: 28%;
            height: 40%;
            margin: 20px 10px !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            
                &:hover {
                    width: 32% !important;
                    height: 42% !important;
                }
            


            .img-prod-lateral {
                width: 55%;
                height: 60%;
                margin: 10px 0 !important;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
            }

            .info-prod {
                margin: 5px 0 !important;
                h3 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
            }
            
        }

        
    
    }



    .div-izq-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .card-lateral {   
            display: flex;
            flex-direction: column; 
            width: 28%;
            height: 40%;
            margin: 20px 10 !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            &:hover {
                width: 32% !important;
                height: 42% !important;
            }

            .img-prod-lateral {
                width: 55%;
                height: 60%;
                margin: 10px 0 !important;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
            }
    
            .info-prod {
                margin: 5px 0 !important;
                h3 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
    
                h4 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
            }
        }

        
    }

    .container-card-centro-main {
        display: flex;
        justify-content: space-evenly;
    }
}



.div-seccion-name-centro {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }
    
.container-card {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        align-items: center;
        justify-content: space-evenly;

        
        .container-card-centro
        {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 35%;
            height: 40%;
            margin: 20px 15px !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            &:hover {
                width: 180px;
                height: 250px;
            }

    
    
                .img-prod-centro {
                height: 65%;
                width: 65%;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
                }
                .info-prod {
                    margin: 5px 0 !important;
                    h3 {
                        font-size: 20px !important;
                        text-transform: uppercase;
                    }
        
                    h4 {
                        font-size: 20px !important;
                        text-transform: uppercase;
                    }
                }
        
        }
    }


@media only screen and (min-width:992px) and (max-width:1400px) {
    .seccion-centro {
        display: flex;
        align-items: center;
        height: 65% !important;
        flex-direction: column-reverse;
        

        .container-card-centro-main {
            display: flex;
            align-items: center;
            width: 100% !important;
            height: 43%;
        }
            .container-card-centro {
                margin-top: -10px !important;
                flex-wrap: wrap;
                width:20%;
                height: 90%;
                align-items: center;


                &:hover {
                    width: 23% !important;
                    height: 93% !important;
                }
                

                


                .img-prod-centro {
                    width: 60%;
                    height: 60%;
                }

                .info-prod {
                    
                    h3 {
                        font-size: 15px !important;
                    }

                    h4 {
                        font-size: 15px !important;
                    }
                }
            }

            

        .div-seccion-name-centro {
            height: 14%;
            order: 1 !important;
        }
    }
}






@media only screen and (min-width: 480px) and (max-width: 992px){
    .secciones {
        flex-direction: column;
        margin-top: 50px !important;

        .div-seccion-name {
            height: 15%;
            align-items: center !important;
        }

        .div-der {
            height: 85%;

            .card-lateral {
                
                
            .info-prod {
                h3 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }
            }
        }
        }

        .div-izq-2 {
        height: 85%;
        flex-direction: column;
        order: 1 !important;

        
        .card-lateral {
            

            .info-prod {
                h3 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }
            }
        } 
    
        }
    }

    

    .seccion-centro {
        display: flex;
        align-items: center;
        height: 100% !important;
        flex-direction: column-reverse;
        

        .container-card-centro-main {
            display: flex;
            align-items: center;
            
            height: 43%;
        }
            .container-card-centro {
                margin-top: -10px !important;
                flex-wrap: wrap;
                width:34%;
                height: 45%;
                align-items: center;


                .img-prod-centro {
                    width: 50%;
                    height: 60%;
                }

                .info-prod {
                    
                    h3 {
                        font-size: 15px !important;
                    }

                    h4 {
                        font-size: 15px !important;
                    }
                }
            }

        .div-seccion-name-centro {
            height: 14%;
            order: 1 !important;
        }
    }
    
    }

    @media only screen and (min-width: 678px) and (max-width: 992px) {
    
        .container-card-centro {
            


            &:hover {
                width: 38% !important;
                height: 48% !important;
            }
            

            


            .img-prod-centro {
                width: 60%;
                height: 60%;
            }

            .info-prod {
                
                h3 {
                    font-size: 15px !important;
                }

                h4 {
                    font-size: 15px !important;
                }
            }
        }

        

    .div-seccion-name-centro {
        height: 14%;
        order: 1 !important;
    }
}

@media only screen and (min-width: 575px) and (max-width:678px) {
    .secciones {
        .div-der, .div-izq-2 {
            .card-lateral {
                width: 25% !important;
            }
        }
    }

    .seccion-centro {
        .container-card-centro {
            &:hover {
                width: 40% !important;
                height: 50% !important;
            }
        }
    }
}

@media only screen and (min-width:480px) and (max-width: 575px) {
    .div-der {
        .card-lateral {
            width: 25% !important;

            &:hover {
                width: 28% !important;
            }

        }
    }

    .div-der, .div-izq-2 {
        .img-prod-lateral {
            width: 70% !important;
            height: 50% !important;
        }
    }

    .container-card-centro {
        &:hover {
            width: 38% !important;
            height: 47% !important;
        }


        .img-prod-centro {
            width: 70% !important;
        }
    }
}

  


@media only screen and (min-width:320px) and (max-width: 480px) {
    

    .secciones {
        margin-top: 10% !important;
        box-shadow: 3px 3px 1px black !important;
        flex-wrap: wrap;
        

        .div-seccion-name {
            height: 10%;
            background-color: rgba(255, 255, 255, 0.795) !important;
            border-radius: 50px;
        }

        .div-der {
            
            height: 90%;
            flex-wrap: wrap;

            .card-lateral {
                width: 40%;
                height: 25%;

                

                .img-prod-lateral {
                    width: 75%;
                    height: 80%;
                }

                .info-prod {
                    h3 {
                        font-size: 13px !important;
                    }

                    h4 {
                        font-size: 13px !important;
                    }
                }
            }
        }

        .div-izq-2 {
            height: 90%;
            flex-direction: column;
            order: 1 !important;
            width: 100% !important;
            
            

            .card-lateral {
                width: 40%;
                height: 25%;

                .img-prod-lateral {
                    width: 75%;
                    height: 80%;
                }

                .info-prod {
                    h3 {
                        font-size: 13px !important;
                    }

                    h4 {
                        font-size: 13px !important;
                    }
                }
            }
        }

        .div-der, .div-izq-2 {

            .card-lateral{
                &:hover {
                    width: 43% !important;
                    height: 28% !important;
                }
            }
            
        }

        
}

.seccion-centro {
            height: 80% !important;
            flex-wrap: wrap;

    .div-seccion-name-centro {
        height: 8%;
        order: -1 !important;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.795) !important;
    }
    
    .container-card-centro-main {
        margin-top: 20px !important;
        display: flex;
        align-items: center;
        
        height: 40%;
    }
        .container-card-centro {
            margin-top: -10px !important;
            flex-wrap: wrap;
            width: 36%;
            height: 43%;
            justify-content: space-evenly;

            &:hover {
                width: 41% !important;
                height: 50% !important;
            }
            


            .img-prod-centro {
                width: 75%;
                height: 60%;
            }

            .info-prod {
                
                h3 {
                    font-size: 10px !important;
                }

                h4 {
                    font-size: 10px !important;
                }
            }
        }


}

}

@media only screen and (min-width: 678px) {
    .secciones {
        .card-lateral {
            &:hover {
                width: 32% !important;
                height: 42% !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 32% !important;
                    height: 42% !important;
                }
        }
        }

        
}

    
}



@media only screen and (min-height:721px) and (max-height: 740px) {
    .secciones {
        height: 65% !important;
        .div-der, .div-izq-2 {
            .card-lateral {
                width: 35% !important;
                margin-top: 10px !important;

                .img-prod-lateral {
                    height: 70% !important;
                }

                .info-prod {
                    height: 30% !important;

                    h3, h4 {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    
    .seccion-centro {
        height: 80% !important;

        .container-card-centro-main {
            margin: -10% 0 !important;
        }
    }
    

}

@media only screen and (min-height:719px) and (max-height: 720px) {
    .div-izq-2 {
        flex-direction: row !important;
        align-items: center;
        justify-content: space-evenly;
        .card-lateral {
            width: 25% !important;
        }
    }

}


@media only screen and (max-height: 667px) {

    .secciones {
        height: 70% !important;
        .div-der {
            .card-lateral {
                margin: 5% 0 !important;
                height: 25% !important;
                width: 34% !important;

                .img-prod-lateral {
                    height: 80% !important;
                }

                .info-prod {
                    height: 20% !important;

                    h3, h4 {
                        font-size: 10px !important;
                    }
                }
            }
        }

        .div-izq-2 {
            display: flex;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-evenly;
            .card-lateral {
                
                margin: 5% 0 !important;
                height: 25% !important;
                width: 34% !important;

                .img-prod-lateral {
                    height: 73% !important;
                }

                .info-prod {
                    height: 27% !important;

                    h3, h4 {
                        font-size: 9px !important;
                    }
                }
            }
        }
    }

    .seccion-centro {
        .container-card-centro-main {
            margin: 1% 0 !important;

            .container-card-centro {
                flex-direction: column;
                flex-wrap: wrap;
                height: 48% !important;

                &:hover {
                    height: 55% !important;
                }

                .img-prod-centro {
                    height: 55% !important;
                    width: 70% !important;
                }

                .info-prod {
                    height: 25% !important;
                    width: 100% !important;

                    h3, h4 {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    
}

@media only screen and (min-height: 810px) and (max-height: 915px) {
    .secciones {
        height: 70% !important;

        .div-izq-2 {
            display: flex;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-evenly;
        }
    }


    .seccion-centro {
        height: 73% !important;

        .container-card-centro {
            height: 48% !important;
            width: 39% !important;

            .info-prod {
                height: 25% !important;
    
                
            }
        }

        
    }
}













