.secciones   {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    height: 60% !important;
    background-color: bisque;
    border: 2px solid black;
    margin-top: 4% !important;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    justify-content: space-evenly !important;
    

    span {
        color: red !important;
        text-transform: uppercase;
    }

    .div-seccion-name {
        align-items: center;
    }

    .div-der {
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-evenly;


        
        .card-lateral {   
            display: flex;
            flex-direction: column; 
            width: 28%;
            height: 40%;
            margin: 20px 10px !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            &:hover {
                width: 250px;
                height: 250px;
            }


            .img-prod-lateral {
                width: 55%;
                height: 60%;
                margin: 10px 0 !important;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
            }

            .info-prod {
                margin: 5px 0 !important;
                h3 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
            }
            
        }

        
    
    }



    .div-izq-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card-lateral {   
            display: flex;
            flex-direction: column; 
            width: 28%;
            height: 40%;
            margin: 20px 10 !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            &:hover {
                width: 250px !important;
                height: 250px;
            }

            .img-prod-lateral {
                width: 55%;
                height: 60%;
                margin: 10px 0 !important;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
            }
    
            .info-prod {
                margin: 5px 0 !important;
                h3 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
    
                h4 {
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
            }
        }

        
    }

    .container-card-centro-main {
        display: flex;
        justify-content: space-evenly;
    }
}



.div-seccion-name-centro {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }
    
.container-card {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        align-items: center;
        justify-content: space-evenly;

        
        .container-card-centro
        {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 35%;
            height: 40%;
            margin: 20px 15px !important;
            background-color: black;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid white;
            align-items: center;
            justify-content: center;
            padding: 1%;
            color: white;
            text-align: center;
            box-shadow: 8px 8px 10px black;
            transition-property: width;
            transition-property: height;
            transition-delay: 0.2s;
            transition-duration: 500ms;

            &:hover {
                width: 180px;
                height: 250px;
            }

    
    
                .img-prod-centro {
                height: 65%;
                width: 65%;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: 5px 5px 10px white;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
                }
                .info-prod {
                    margin: 5px 0 !important;
                    h3 {
                        font-size: 20px !important;
                        text-transform: uppercase;
                    }
        
                    h4 {
                        font-size: 20px !important;
                        text-transform: uppercase;
                    }
                }
        
        }
    }



@media only screen and (min-width: 678px) and (max-width:992px) {
    .secciones {
        .card-lateral{
            &:hover {
                width: 180px !important;
                height: 220px !important;
            }
        }

        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 200px !important;
                    height: 200px !important;
                }
            }

       
        }

        
            
            
        }
    }



@media only screen and (min-width: 480px) and (max-width: 992px){
    .secciones {
        flex-direction: column;
        margin-top: 50px !important;

        .div-seccion-name {
            height: 15%;
            align-items: center !important;
        }

        .div-der {
            height: 85%;

            .card-lateral {

            .info-prod {
                h3 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }
            }
        }
        }

        .div-izq-2 {
        height: 85%;
        flex-direction: column;
        order: 1 !important;

        
        .card-lateral {
            

            .info-prod {
                h3 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 15px !important;
                    text-transform: uppercase;
                }
            }
        } 
    
        }
    }

    

    .seccion-centro {
        display: flex;
        align-items: center;
        height: 100% !important;
        flex-direction: column-reverse;
        

        .container-card-centro-main {
            display: flex;
            align-items: center;
            
            height: 43%;
        }
            .container-card-centro {
                margin-top: -10px !important;
                flex-wrap: wrap;
                width:34%;
                height: 45%;
                align-items: center;


                .img-prod-centro {
                    width: 50%;
                    height: 60%;
                }

                .info-prod {
                    
                    h3 {
                        font-size: 15px !important;
                    }

                    h4 {
                        font-size: 15px !important;
                    }
                }
            }

        .div-seccion-name-centro {
            height: 14%;
            order: 1 !important;
        }
    }
    
    }
  


@media only screen and (min-width:320px) and (max-width: 480px) {
    .secciones {
        margin-top: 40px !important;
        box-shadow: 3px 3px 1px black !important;

        .div-seccion-name {
            height: 10%;
            background-color: rgba(255, 255, 255, 0.795) !important;
            border-radius: 50px;
        }

        .div-der {
            height: 90%;

            .card-lateral {
                width: 40%;
                height: 25%;

                .img-prod-lateral {
                    width: 75%;
                    height: 80%;
                }

                .info-prod {
                    h3 {
                        font-size: 13px !important;
                    }

                    h4 {
                        font-size: 13px !important;
                    }
                }
            }
        }

        .div-izq-2 {
            height: 90%;
            flex-direction: column;
            order: 1 !important;
            

            .card-lateral {
                width: 40%;
                height: 25%;

                .img-prod-lateral {
                    width: 75%;
                    height: 80%;
                }

                .info-prod {
                    h3 {
                        font-size: 13px !important;
                    }

                    h4 {
                        font-size: 13px !important;
                    }
                }
            }
        }

        
}

.seccion-centro {
            height: 80% !important;

    .div-seccion-name-centro {
        height: 8%;
        order: -1 !important;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.795) !important;
    }
    
    .container-card-centro-main {
        margin-top: 20px !important;
        display: flex;
        align-items: center;
        
        height: 43%;
    }
        .container-card-centro {
            margin-top: -10px !important;
            flex-wrap: wrap;
            width: 38%;
            height: 45%;
            justify-content: space-evenly;
            


            .img-prod-centro {
                width: 75%;
                height: 60%;
            }

            .info-prod {
                
                h3 {
                    font-size: 12px !important;
                }

                h4 {
                    font-size: 12px !important;
                }
            }
        }


}

}

@media only screen and (min-width: 992px) and (max-width:1120px){
    .secciones {
        .card-lateral {
            &:hover {
                width: 180px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 180px !important;
                }
        }
        }

        .container-card {
            .container-card-centro {
                &:hover {
                    width: 115px !important;
                }
            }

            .info-prod {
                h3, h4 {
                    font-size: 14px !important;
                }

            }      
        
    }
}

    
}

@media only screen and (min-width: 678px) and (max-width: 992px) {
    

    .secciones {
        .card-lateral{
            &:hover {
                width: 10px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 180px !important;
                }
            }
        }
        
    }



    .seccion-centro {
        .container-card-centro {
            width: 30%;
            &:hover {
                height: 200px;
            }
        }
    }
}
    


@media only screen and (min-width: 575px) and (max-width: 678px) {
    .secciones {
        .card-lateral{
            &:hover {
                width: 145px !important;
                height: 220px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 145px !important;
                    height: 220px !important;
                }
            }
        }
        
    }



    .seccion-centro {
        .container-card-centro {
            width: 30%;
            &:hover {
                height: 200px;
            }
        }
    }

}

@media only screen and (min-width: 480px) and (max-width: 575px) {
    .secciones {
        .card-lateral{

            width: 22%;
            &:hover {
                width: 114px !important;
                height: 220px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 114px !important;
                    height: 220px !important;
                }
            }
        }
        
    }



    .seccion-centro {
        .container-card-centro {
            width: 30%;
            &:hover {
                width: 145px;
                height: 200px;
            }
        }
    }
}


@media only screen and (min-width: 350px) and (max-width: 375px) {
    
    .secciones {
        .card-lateral{

            width: 22%;
            &:hover {
                width: 125px !important;
                height: 150px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 125px !important;
                    height: 140px !important;
                }
            }
        }
        
    }
    
    .seccion-centro {
        .container-card-centro {
            width: 35%;
            &:hover {
                width: 110px !important;
                height: 170px;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
    .secciones {
        .card-lateral{

            width: 22%;
            &:hover {
                width: 135px !important;
                height: 150px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 135px !important;
                    height: 140px !important;
                }
            }
        }
        
    }
    
    .seccion-centro {
        .container-card-centro {
            width: 35%;
            &:hover {
                width: 125px !important;
                height: 160px;
            }
        }
    }
}


@media only screen and (min-width:320px) and (max-width: 350px) {
    
    .secciones {
        .card-lateral{

            width: 22%;
            &:hover {
                width: 116px !important;
                height: 150px !important;
            }
            }
        .div-izq-2 {
            .card-lateral {
                &:hover {
                    width: 116px !important;
                    height: 140px !important;
                }
            }
        }
        
    }
 
    .seccion-centro {
        .container-card-centro {
            width: 35%;
            &:hover {
                width: 110px;
                height: 160px;
            }
        }
    }
}