@use 'header';
@use 'tarjetas-gral';
@use 'footer';

* {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100%;
    overflow-x: clip !important;
}



.contenedor-boton {
    height: 10%;
    position: sticky;
    float: right;
    padding: 10px;
    top: 90%;

    
    img {
        width: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .contenedor-boton {
        padding-right: 10px !important;

        img {
            width: 50px;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .contenedor-boton {
        padding-right: 5px !important;

        img {
            width: 45px !important;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
    .contenedor-boton {
        img {
            width: 35px !important;
        }
    }
}

@media only screen and (min-width:320px) and (max-width: 480px) {
    .contenedor-boton {
        padding-right: 2px !important;
        
    }

    img {
        width: 25px !important;
        
    }
}


.prod1 {
    background-image: url(img/leche-entera.webp);
}

.prod2 {
    background-image: url(img/roast-beef.jpg);
}

.prod3 {
    background-image: url(img/tomate-redondo.jpg);
}

.prod4 {
    background-image: url(img/espadol.jpg);
}

.prod5 {
    background-image: url(img/lavandina.webp);
}

.prod6 {
    background-image: url(img/pan-flauta.webp);
}



.prod2b {
    background-image: url(img/lata-atun.webp);
}

.prod3b {
    background-image: url(img/oreo.jpg);
}

.prod4b {
    background-image: url(img/crema-leche.jpg);
}

.prod5b {
    background-image: url(img/azucar.webp);
}

.prod6b {
    background-image: url(img/aceite-natura.jpg);
}

#carniceria {
    
    display: flex;
    flex-wrap: wrap;
    
}

.prod2c {
    background-image: url(img/asado.webp);
}

.prod3c {
    background-image: url(img/bife-angosto.jpg);
}

.prod4c {
    background-image: url(img/vacio.jpg);
}

.prod5c {
    background-image: url(img/chorizo.webp);
}

.prod6c {
    background-image: url(img/morcilla.jpg);
}


.prod7c {
    background-image: url(img/chinchulin.webp);
}

.prod8c {
    background-image: url(img/provoleta.png);
}

#verduleria {
    display: flex;
    flex-wrap: wrap;
}

.prod2d {
    background-image: url(img/criolla.webp);
}

.prod3d {
    background-image: url(img/zanahoria.jpg);
}

.prod4d {
    background-image: url(img/zapallitos.jpg);
}

.prod5d {
    background-image: url(img/morron-rojo.png);
}

.prod6d {
    background-image: url(img/papa-negra.webp);
}

.prod2d {
    background-image: url(img/criolla.webp);
}

.prod3d {
    background-image: url(img/zanahoria.jpg);
}

.prod4d {
    background-image: url(img/zapallitos.jpg);
}

.prod5d {
    background-image: url(img/morron-rojo.png);
}

.prod6d {
    background-image: url(img/papa-negra.webp);
}


#panaderia {
    display: flex;
    flex-wrap: wrap;
}

.prod2f {
    background-image: url(img/facturas.jpg);
}

.prod3f {
    background-image: url(img/mini-torta.jpg);
}


.prod4f {
    background-image: url(img/masitas.jpg);
}

.prod5f {
    background-image: url(img/sanguchito.miga.jpg);
}

.prod6f {
    background-image: url(img/pepas.webp);
}


#limpieza {
    display: flex;
    flex-wrap: wrap;
}


.prod2e {
    background-image: url(img/jabon-liquido.webp);
}

.prod3e {
    background-image: url(img/desodorante-depiso.webp);
}


.prod4e {
    background-image: url(img/cera-piso.webp);
}

.prod5e {
    background-image: url(img/suavizante-ropa.webp.webp);
}


.prod6e {
    background-image: url(img/lysoform.png);
}

.prod7e {
    background-image: url(img/higienico.webp);
}

.prod8e {
    background-image: url(img/trapo-piso.jpg);
}


#panaderia {
    display: flex;
    flex-wrap: wrap;
}

.prod2f {
    background-image: url(img/facturas.jpg);
}

.prod3f {
    background-image: url(img/mini-torta.jpg);
}


.prod4f {
    background-image: url(img/masitas.jpg);
}

.prod5f {
    background-image: url(img/sanguchito.miga.jpg);
}

.prod6f {
    background-image: url(img/pepas.webp);
}

#desod-piso {
    font-size: 15px !important;
    color: white !important;
}

@media only screen and (max-width: 480px) {
    #desod-piso {
        font-size: 12px !important;
    }
}


@media only screen and (min-height: 666px) and (max-height: 720px)  {
    #desod-piso {
        font-size: 9px !important;
    }
}

@media only screen and (min-height:720px) and (max-height: 850px) {
    #desod-piso {
        font-size: 12px !important;
    }
}

@media only screen and (min-height:850px) and (max-height: 915px) {
    #desod-piso {
        font-size:  10px !important;
    }
}