.header {
  height: 100vh !important;
  background-image: url(img/fondo-minimercado-byw.png);
  background-size: cover;
  background-position: center;
}
.header .logo-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 15%;
  padding-top: 40px !important;
  margin-left: 150px !important;
}
.header .logo-head img {
  width: 10vw;
}
.header .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 72%;
  text-align: center;
  color: red;
  text-transform: uppercase;
  text-shadow: 5px 5px 1px black;
  font-family: "Agdasima", sans-serif;
  word-spacing: 20px;
  letter-spacing: 10px;
}
.header .titulo h1 {
  font-size: 100px;
}
.header .titulo h2 {
  font-size: 70px;
}
.header .buscador {
  height: 6%;
  padding-bottom: 50px !important;
}
.header .buscador input {
  border-radius: 50px;
  text-indent: 10px;
}
.header .navegador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 7%;
}
.header .navegador ul {
  list-style: none;
}
.header .navegador li {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px !important;
  background-color: darkred;
  border-radius: 10px;
}
.header .navegador a {
  text-decoration: none;
  color: white;
}
.header .navegador a:hover {
  color: gold;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .logo-head {
    margin-left: 80px !important;
  }
  .header .logo-head img {
    width: 15vw;
  }
  .header .titulo {
    word-spacing: 5px;
    letter-spacing: 5px;
  }
  .header .titulo h1 {
    font-size: 60px;
  }
  .header .titulo h2 {
    font-size: 50px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .logo-head {
    margin-left: 40px !important;
  }
  .header .logo-head img {
    width: 20vw;
  }
  .header .titulo {
    word-spacing: 2px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    padding: 0 5px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .header .logo-head {
    margin-left: 20px !important;
  }
  .header .logo-head img {
    width: 27vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
    text-shadow: 2px 2px 1px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header .logo-head {
    margin-left: 15px !important;
  }
  .header img {
    width: 30vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
    text-shadow: 2px 2px 1px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 30px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 8px;
  }
}
.secciones {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  height: 60% !important;
  background-color: bisque;
  border: 2px solid black;
  margin-top: 4% !important;
  box-shadow: 10px 10px 5px black;
  text-align: center;
}
.secciones span {
  color: blue;
  text-transform: uppercase;
}
.secciones .div-seccion-name {
  align-items: center;
}
.secciones .div-der {
  display: flex;
  flex-wrap: wrap;
}
.secciones .div-der .card-lateral {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40%;
  margin: 20px 10px !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
}
.secciones .div-der .card-lateral .img-prod-lateral {
  width: 55%;
  height: 60%;
  margin: 10px 0 !important;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px white;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.secciones .div-der .card-lateral .info-prod {
  margin: 5px 0 !important;
}
.secciones .div-der .card-lateral .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-der .card-lateral .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-izq-2 {
  display: flex;
  flex-wrap: wrap;
}
.secciones .div-izq-2 .card-lateral {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40%;
  margin: 20px 10 !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
}
.secciones .div-izq-2 .card-lateral .img-prod-lateral {
  width: 55%;
  height: 60%;
  margin: 10px 0 !important;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px white;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.secciones .div-izq-2 .card-lateral .info-prod {
  margin: 5px 0 !important;
}
.secciones .div-izq-2 .card-lateral .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-izq-2 .card-lateral .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}

#carniceria {
  display: flex;
  flex-wrap: wrap;
}

.div-seccion-name-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.container-card .container-card-centro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
  height: 40%;
  margin: 20px 15px !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
}
.container-card .container-card-centro .img-prod-centro {
  height: 65%;
}
.container-card .container-card-centro .info-prod {
  margin: 5px 0 !important;
}
.container-card .container-card-centro .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.container-card .container-card-centro .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

html, body {
  width: 100%;
  overflow-x: clip !important;
}

.contenedor-boton {
  height: 100%;
  position: sticky;
  float: right;
  padding: 10px;
  top: 90%;
}
.contenedor-boton img {
  width: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contenedor-boton {
    padding-right: 90px !important;
  }
  .contenedor-boton img {
    width: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-boton {
    padding-right: 120px !important;
  }
  .contenedor-boton img {
    width: 60px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .contenedor-boton {
    padding-right: 90px !important;
  }
  .contenedor-boton img {
    width: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor-boton {
    padding-right: 50px !important;
  }
  img {
    width: 40px !important;
  }
}
.prod1 {
  background-image: url(img/leche-entera.webp);
}

.prod2 {
  background-image: url(img/roast-beef.jpg);
}

.prod3 {
  background-image: url(img/tomate-redondo.jpg);
}

.prod4 {
  background-image: url(img/espadol.jpg);
}

.prod5 {
  background-image: url(img/lavandina.webp);
}

.prod6 {
  background-image: url(img/pan-flauta.webp);
}

.prod2b {
  background-image: url(img/lata-atun.webp);
}

.prod3b {
  background-image: url(img/oreo.jpg);
}

.prod4b {
  background-image: url(img/crema-leche.jpg);
}

.prod5b {
  background-image: url(img/azucar.webp);
}

.prod6b {
  background-image: url(img/aceite-natura.jpg);
}

.prod2c {
  background-image: url(img/asado.webp);
}

.prod3c {
  background-image: url(img/bife-angosto.jpg);
}

.prod4c {
  background-image: url(img/vacio.jpg);
}

.prod5c {
  background-image: url(img/chorizo.webp);
}

.prod6c {
  background-image: url(img/morcilla.jpg);
}

.prod7c {
  background-image: url(img/chinchulin.webp);
}

.prod8c {
  background-image: url(img/provoleta.png);
}

/*# sourceMappingURL=estilos.css.map */
