@use 'header';
@use 'tarjetas-gral';

* {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100%;
    overflow-x: clip !important;
}



.contenedor-boton {
    height: 100%;
    position: sticky;
    float: right;
    padding: 10px;
    top: 90%;
    
    img {
        width: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .contenedor-boton {
        padding-right: 90px !important;

        img {
            width: 70px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor-boton {
        padding-right: 120px !important;

        img {
            width: 60px;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
    .contenedor-boton {
        padding-right: 90px !important;

        img {
            width: 50px;
        }
    }
}

@media only screen and (min-width:320px) and (max-width: 480px) {
    .contenedor-boton {
        padding-right: 50px !important;
    }

    img {
        width: 40px !important;
    }
}


#producto1 {
    background-image: url(img/leche-entera.webp);
}