.header {
  height: 100vh !important;
  background-image: url(img/fondo-minimercado-byw.png);
  background-size: cover;
  background-position: center;
}
.header .logo-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 15%;
  padding-top: 40px !important;
  margin-left: 150px !important;
}
.header .logo-head img {
  width: 10vw;
}
.header .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 72%;
  text-align: center;
  color: red;
  text-transform: uppercase;
  text-shadow: 5px 5px 1px black;
  font-family: "Agdasima", sans-serif;
  word-spacing: 20px;
  letter-spacing: 10px;
}
.header .titulo h1 {
  font-size: 100px;
}
.header .titulo h2 {
  font-size: 70px;
}
.header .buscador {
  height: 6%;
  padding-bottom: 50px !important;
}
.header .buscador input {
  border-radius: 50px;
  text-indent: 10px;
}
.header .navegador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 7%;
}
.header .navegador ul {
  list-style: none;
}
.header .navegador li {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px !important;
  background-color: darkred;
  border-radius: 10px;
}
.header .navegador a {
  text-decoration: none;
  color: white;
}
.header .navegador a:hover {
  color: gold;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .logo-head {
    margin-left: 80px !important;
  }
  .header .logo-head img {
    width: 15vw;
  }
  .header .titulo {
    word-spacing: 5px;
    letter-spacing: 5px;
  }
  .header .titulo h1 {
    font-size: 60px;
  }
  .header .titulo h2 {
    font-size: 50px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .logo-head {
    margin-left: 40px !important;
  }
  .header .logo-head img {
    width: 20vw;
  }
  .header .titulo {
    word-spacing: 2px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    padding: 0 5px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .header .logo-head {
    margin-left: 20px !important;
  }
  .header .logo-head img {
    width: 27vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
    text-shadow: 2px 2px 1px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header .logo-head {
    margin-left: 15px !important;
  }
  .header img {
    width: 30vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
    text-shadow: 2px 2px 1px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 30px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 8px;
  }
}
.secciones {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  height: 60% !important;
  background-color: bisque;
  border: 2px solid black;
  margin-top: 4% !important;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  justify-content: space-evenly !important;
}
.secciones span {
  color: red !important;
  text-transform: uppercase;
}
.secciones .div-seccion-name {
  align-items: center;
}
.secciones .div-der {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.secciones .div-der .card-lateral {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 40%;
  margin: 20px 10px !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
  transition-property: width;
  transition-property: height;
  transition-delay: 0.2s;
  transition-duration: 500ms;
}
.secciones .div-der .card-lateral:hover {
  width: 250px;
  height: 250px;
}
.secciones .div-der .card-lateral .img-prod-lateral {
  width: 55%;
  height: 60%;
  margin: 10px 0 !important;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px white;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.secciones .div-der .card-lateral .info-prod {
  margin: 5px 0 !important;
}
.secciones .div-der .card-lateral .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-der .card-lateral .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-izq-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.secciones .div-izq-2 .card-lateral {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 40%;
  margin: 20px 10 !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
  transition-property: width;
  transition-property: height;
  transition-delay: 0.2s;
  transition-duration: 500ms;
}
.secciones .div-izq-2 .card-lateral:hover {
  width: 250px !important;
  height: 250px;
}
.secciones .div-izq-2 .card-lateral .img-prod-lateral {
  width: 55%;
  height: 60%;
  margin: 10px 0 !important;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px white;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.secciones .div-izq-2 .card-lateral .info-prod {
  margin: 5px 0 !important;
}
.secciones .div-izq-2 .card-lateral .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .div-izq-2 .card-lateral .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.secciones .container-card-centro-main {
  display: flex;
  justify-content: space-evenly;
}

.div-seccion-name-centro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
}
.container-card .container-card-centro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
  height: 40%;
  margin: 20px 15px !important;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 10px black;
  transition-property: width;
  transition-property: height;
  transition-delay: 0.2s;
  transition-duration: 500ms;
}
.container-card .container-card-centro:hover {
  width: 180px;
  height: 250px;
}
.container-card .container-card-centro .img-prod-centro {
  height: 65%;
  width: 65%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px white;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.container-card .container-card-centro .info-prod {
  margin: 5px 0 !important;
}
.container-card .container-card-centro .info-prod h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}
.container-card .container-card-centro .info-prod h4 {
  font-size: 20px !important;
  text-transform: uppercase;
}

@media only screen and (min-width: 678px) and (max-width: 992px) {
  .secciones .card-lateral:hover {
    width: 180px !important;
    height: 220px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 200px !important;
    height: 200px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 992px) {
  .secciones {
    flex-direction: column;
    margin-top: 50px !important;
  }
  .secciones .div-seccion-name {
    height: 15%;
    align-items: center !important;
  }
  .secciones .div-der {
    height: 85%;
  }
  .secciones .div-der .card-lateral .info-prod h3 {
    font-size: 15px !important;
    text-transform: uppercase;
  }
  .secciones .div-der .card-lateral .info-prod h4 {
    font-size: 15px !important;
    text-transform: uppercase;
  }
  .secciones .div-izq-2 {
    height: 85%;
    flex-direction: column;
    order: 1 !important;
  }
  .secciones .div-izq-2 .card-lateral .info-prod h3 {
    font-size: 15px !important;
    text-transform: uppercase;
  }
  .secciones .div-izq-2 .card-lateral .info-prod h4 {
    font-size: 15px !important;
    text-transform: uppercase;
  }
  .seccion-centro {
    display: flex;
    align-items: center;
    height: 100% !important;
    flex-direction: column-reverse;
  }
  .seccion-centro .container-card-centro-main {
    display: flex;
    align-items: center;
    height: 43%;
  }
  .seccion-centro .container-card-centro {
    margin-top: -10px !important;
    flex-wrap: wrap;
    width: 34%;
    height: 45%;
    align-items: center;
  }
  .seccion-centro .container-card-centro .img-prod-centro {
    width: 50%;
    height: 60%;
  }
  .seccion-centro .container-card-centro .info-prod h3 {
    font-size: 15px !important;
  }
  .seccion-centro .container-card-centro .info-prod h4 {
    font-size: 15px !important;
  }
  .seccion-centro .div-seccion-name-centro {
    height: 14%;
    order: 1 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .secciones {
    margin-top: 40px !important;
    box-shadow: 3px 3px 1px black !important;
  }
  .secciones .div-seccion-name {
    height: 10%;
    background-color: rgba(255, 255, 255, 0.795) !important;
    border-radius: 50px;
  }
  .secciones .div-der {
    height: 90%;
  }
  .secciones .div-der .card-lateral {
    width: 40%;
    height: 25%;
  }
  .secciones .div-der .card-lateral .img-prod-lateral {
    width: 75%;
    height: 80%;
  }
  .secciones .div-der .card-lateral .info-prod h3 {
    font-size: 13px !important;
  }
  .secciones .div-der .card-lateral .info-prod h4 {
    font-size: 13px !important;
  }
  .secciones .div-izq-2 {
    height: 90%;
    flex-direction: column;
    order: 1 !important;
  }
  .secciones .div-izq-2 .card-lateral {
    width: 40%;
    height: 25%;
  }
  .secciones .div-izq-2 .card-lateral .img-prod-lateral {
    width: 75%;
    height: 80%;
  }
  .secciones .div-izq-2 .card-lateral .info-prod h3 {
    font-size: 13px !important;
  }
  .secciones .div-izq-2 .card-lateral .info-prod h4 {
    font-size: 13px !important;
  }
  .seccion-centro {
    height: 80% !important;
  }
  .seccion-centro .div-seccion-name-centro {
    height: 8%;
    order: -1 !important;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.795) !important;
  }
  .seccion-centro .container-card-centro-main {
    margin-top: 20px !important;
    display: flex;
    align-items: center;
    height: 43%;
  }
  .seccion-centro .container-card-centro {
    margin-top: -10px !important;
    flex-wrap: wrap;
    width: 38%;
    height: 45%;
    justify-content: space-evenly;
  }
  .seccion-centro .container-card-centro .img-prod-centro {
    width: 75%;
    height: 60%;
  }
  .seccion-centro .container-card-centro .info-prod h3 {
    font-size: 12px !important;
  }
  .seccion-centro .container-card-centro .info-prod h4 {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1120px) {
  .secciones .card-lateral:hover {
    width: 180px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 180px !important;
  }
  .secciones .container-card .container-card-centro:hover {
    width: 115px !important;
  }
  .secciones .container-card .info-prod h3, .secciones .container-card .info-prod h4 {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 678px) and (max-width: 992px) {
  .secciones .card-lateral:hover {
    width: 180px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 180px !important;
  }
  .seccion-centro .container-card-centro {
    width: 30%;
  }
  .seccion-centro .container-card-centro:hover {
    height: 200px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 678px) {
  .secciones .card-lateral:hover {
    width: 145px !important;
    height: 220px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 145px !important;
    height: 210px !important;
  }
  .seccion-centro .container-card-centro {
    width: 30%;
  }
  .seccion-centro .container-card-centro:hover {
    height: 200px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .secciones .card-lateral {
    width: 2% !important;
  }
  .secciones .card-lateral:hover {
    width: 120px !important;
    height: 220px !important;
  }
  .secciones .div-izq-2 .card-lateral {
    width: 25%;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 125px !important;
    height: 220px !important;
  }
  .seccion-centro .container-card-centro {
    width: 30%;
  }
  .seccion-centro .container-card-centro:hover {
    width: 145px;
    height: 200px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 375px) {
  .secciones .card-lateral {
    width: 22%;
  }
  .secciones .card-lateral:hover {
    width: 125px !important;
    height: 150px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 125px !important;
    height: 140px !important;
  }
  .seccion-centro .container-card-centro {
    width: 35%;
  }
  .seccion-centro .container-card-centro:hover {
    width: 110px !important;
    height: 170px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .secciones .card-lateral {
    width: 22%;
  }
  .secciones .card-lateral:hover {
    width: 135px !important;
    height: 150px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 135px !important;
    height: 140px !important;
  }
  .seccion-centro .container-card-centro {
    width: 35%;
  }
  .seccion-centro .container-card-centro:hover {
    width: 125px !important;
    height: 160px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 350px) {
  .secciones .card-lateral {
    width: 22%;
  }
  .secciones .card-lateral:hover {
    width: 116px !important;
    height: 150px !important;
  }
  .secciones .div-izq-2 .card-lateral:hover {
    width: 116px !important;
    height: 140px !important;
  }
  .seccion-centro .container-card-centro {
    width: 35%;
  }
  .seccion-centro .container-card-centro:hover {
    width: 110px;
    height: 160px;
  }
}
.pie-pag {
  display: flex;
  flex-direction: column;
  margin-top: 40px !important;
  background-color: bisque !important;
  border-top: 3px solid black;
  height: 25%;
}
.pie-pag .texto-pie {
  height: 30%;
  text-align: center;
}
.pie-pag .texto-pie h3 {
  text-transform: uppercase;
}
.pie-pag .redes-pie ul {
  margin-top: 30px !important;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pie-pag .redes-pie ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.pie-pag .redes-pie ul li a:hover {
  color: red;
  background-color: gold;
  border-radius: 50px;
}
.pie-pag .redes-pie ul img {
  width: 20px;
}

@media only screen and (max-width: 575px) {
  .pie-pag {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18%;
  }
  .pie-pag .texto-pie {
    display: inline !important;
  }
  .pie-pag .texto-pie h3 {
    font-size: 15px !important;
  }
  .pie-pag .redes-pie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pag .redes-pie ul {
    display: inline !important;
  }
  .pie-pag .redes-pie ul li a {
    font-size: 15px !important;
  }
  .pie-pag .redes-pie ul li img {
    width: 13px !important;
  }
}
* {
  margin: 0 !important;
  padding: 0 !important;
}

html, body {
  width: 100%;
  overflow-x: clip !important;
}

.contenedor-boton {
  height: 10%;
  position: sticky;
  float: right;
  padding: 10px;
  top: 90%;
}
.contenedor-boton img {
  width: 80px;
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .contenedor-boton {
    padding-right: 10px !important;
  }
  .contenedor-boton img {
    width: 50px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .contenedor-boton {
    padding-right: 5px !important;
  }
  .contenedor-boton img {
    width: 45px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .contenedor-boton img {
    width: 35px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor-boton {
    padding-right: 2px !important;
  }
  img {
    width: 25px !important;
  }
}
.prod1 {
  background-image: url(img/leche-entera.webp);
}

.prod2 {
  background-image: url(img/roast-beef.jpg);
}

.prod3 {
  background-image: url(img/tomate-redondo.jpg);
}

.prod4 {
  background-image: url(img/espadol.jpg);
}

.prod5 {
  background-image: url(img/lavandina.webp);
}

.prod6 {
  background-image: url(img/pan-flauta.webp);
}

.prod2b {
  background-image: url(img/lata-atun.webp);
}

.prod3b {
  background-image: url(img/oreo.jpg);
}

.prod4b {
  background-image: url(img/crema-leche.jpg);
}

.prod5b {
  background-image: url(img/azucar.webp);
}

.prod6b {
  background-image: url(img/aceite-natura.jpg);
}

#carniceria {
  display: flex;
  flex-wrap: wrap;
}

.prod2c {
  background-image: url(img/asado.webp);
}

.prod3c {
  background-image: url(img/bife-angosto.jpg);
}

.prod4c {
  background-image: url(img/vacio.jpg);
}

.prod5c {
  background-image: url(img/chorizo.webp);
}

.prod6c {
  background-image: url(img/morcilla.jpg);
}

.prod7c {
  background-image: url(img/chinchulin.webp);
}

.prod8c {
  background-image: url(img/provoleta.png);
}

#verduleria {
  display: flex;
  flex-wrap: wrap;
}

.prod2d {
  background-image: url(img/criolla.webp);
}

.prod3d {
  background-image: url(img/zanahoria.jpg);
}

.prod4d {
  background-image: url(img/zapallitos.jpg);
}

.prod5d {
  background-image: url(img/morron-rojo.png);
}

.prod6d {
  background-image: url(img/papa-negra.webp);
}

.prod2d {
  background-image: url(img/criolla.webp);
}

.prod3d {
  background-image: url(img/zanahoria.jpg);
}

.prod4d {
  background-image: url(img/zapallitos.jpg);
}

.prod5d {
  background-image: url(img/morron-rojo.png);
}

.prod6d {
  background-image: url(img/papa-negra.webp);
}

#panaderia {
  display: flex;
  flex-wrap: wrap;
}

.prod2f {
  background-image: url(img/facturas.jpg);
}

.prod3f {
  background-image: url(img/mini-torta.jpg);
}

.prod4f {
  background-image: url(img/masitas.jpg);
}

.prod5f {
  background-image: url(img/sanguchito.miga.jpg);
}

.prod6f {
  background-image: url(img/pepas.webp);
}

#limpieza {
  display: flex;
  flex-wrap: wrap;
}

.prod2e {
  background-image: url(img/jabon-liquido.webp);
}

.prod3e {
  background-image: url(img/desodorante-depiso.webp);
}

.prod4e {
  background-image: url(img/cera-piso.webp);
}

.prod5e {
  background-image: url(img/suavizante-ropa.webp.webp);
}

.prod6e {
  background-image: url(img/lysoform.png);
}

.prod7e {
  background-image: url(img/higienico.webp);
}

.prod8e {
  background-image: url(img/trapo-piso.jpg);
}

#panaderia {
  display: flex;
  flex-wrap: wrap;
}

.prod2f {
  background-image: url(img/facturas.jpg);
}

.prod3f {
  background-image: url(img/mini-torta.jpg);
}

.prod4f {
  background-image: url(img/masitas.jpg);
}

.prod5f {
  background-image: url(img/sanguchito.miga.jpg);
}

.prod6f {
  background-image: url(img/pepas.webp);
}

#desod-piso {
  font-size: 15px !important;
  color: white !important;
}

@media only screen and (max-width: 480px) {
  #desod-piso {
    font-size: 12px !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
