.header {
  height: 100vh !important;
  background-image: url(img/fondo-minimercado-byw.png);
  background-size: cover;
  background-position: center;
}
.header .logo-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 15%;
  padding-top: 40px !important;
  margin-left: 150px !important;
}
.header .logo-head img {
  width: 10vw;
}
.header .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 72%;
  text-align: center;
  color: red;
  text-transform: uppercase;
  text-shadow: 5px 5px 1px black;
  font-family: "Agdasima", sans-serif;
  word-spacing: 20px;
  letter-spacing: 10px;
}
.header .titulo h1 {
  font-size: 100px;
}
.header .titulo h2 {
  font-size: 70px;
}
.header .buscador {
  height: 6%;
  padding-bottom: 50px !important;
}
.header .buscador input {
  border-radius: 50px;
  text-indent: 10px;
}
.header .navegador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 7%;
}
.header .navegador ul {
  list-style: none;
}
.header .navegador li {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px !important;
  background-color: darkred;
  border-radius: 10px;
}
.header .navegador a {
  text-decoration: none;
  color: white;
}
.header .navegador a:hover {
  color: gold;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .logo-head {
    margin-left: 80px !important;
  }
  .header .logo-head img {
    width: 15vw;
  }
  .header .titulo {
    word-spacing: 5px;
    letter-spacing: 5px;
  }
  .header .titulo h1 {
    font-size: 60px;
  }
  .header .titulo h2 {
    font-size: 50px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .logo-head {
    margin-left: 40px !important;
  }
  .header .logo-head img {
    width: 20vw;
  }
  .header .titulo {
    word-spacing: 2px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px black;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    padding: 0 5px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .header .logo-head {
    margin-left: 20px !important;
  }
  .header .logo-head img {
    width: 27vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 25px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header .logo-head {
    margin-left: 15px !important;
  }
  .header img {
    width: 30vw !important;
  }
  .header .titulo {
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  .header .titulo h1 {
    font-size: 40px;
  }
  .header .titulo h2 {
    font-size: 30px;
  }
  .header .navegador {
    flex-wrap: wrap;
  }
  .header .navegador a {
    font-size: 8px;
  }
}
* {
  margin: 0 !important;
  padding: 0 !important;
}

.contenedor-boton {
  height: 0.1%;
  position: sticky;
  float: right;
  padding: 10px;
  top: 90%;
}
.contenedor-boton img {
  width: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contenedor-boton {
    padding-right: 90px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-boton {
    padding-right: 120px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .contenedor-boton {
    padding-right: 90px !important;
  }
  .contenedor-boton img {
    width: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor-boton {
    padding-right: 50px !important;
  }
  img {
    width: 40px !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
